html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-image: url(../assets/images/background.png);
    background-repeat: repeat;
    transform: rotate(22.5deg);
}
